/*html*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  background-color: #F7DDD4;

}

/*all puppy images*/
img {
  height: 200px;
  width: 200px;
}

/*headings*/
h1 {
  font-family: 'Righteous', cursive;
  text-align: center;
  margin-top: 40px;
  text-decoration: underline;
  font-size: 28pt;
}

/*form*/
label {
  font-size: 14pt;
}

.newFormEntry {
  width: 100%;
  max-width: 1750px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

input {
border: 2px solid black;
border-radius: 5px;
font-size: 14pt;
}


/*new player added to roster*/
.newPlayerFromForm { 
  font-family: 'Abril Fatface', cursive;
  font-size: 16pt;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 40px;
}

.infoNewPlayer {
  font-family: 'Abril Fatface', cursive;
  padding: 5px;
  font-size: 14pt;
  margin-left: 40px;
 }

/*submit button*/
#submitButton {
  font-family: 'Righteous', cursive;
  margin: 10px;
  font-size: 12pt;
  padding: 5px;
  border-radius: 5px;
}

#submitButton:hover {
  color: white;
  cursor: pointer;
  background-color: black;
}

/*details button*/
.details-button{
  font-family: 'Righteous', cursive;
  font-size: 12pt;
  margin:5px;
  width: 105px;
  height:30px;
  border-radius: 5px;
}
.details-button:hover {
  color: white;
  cursor: pointer;
  background-color: black;
}

/*delete button*/
.delete-button{
  font-family: 'Righteous', cursive;
  font-size: 12pt;
  width: 175px;
  height:30px;
  border-radius: 5px;
}
.delete-button:hover {
  color: white;
  cursor: pointer;
  background-color: black;
}

/*player container styling*/
#all-players-container {
  display: grid;
  height: 20px;
  align-content: normal;
  grid-template-columns: auto auto auto;
  gap: 40px;
  padding: 5%;
  font-family: 'Abril Fatface', cursive;
  
}

/*individual cards styling*/
#all-players-container > div {
  background-color: rgba(113, 93, 93, 0.295);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  
}